<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
                <a class="navbar-brand page-scroll" href="#page-top">
                    <img class="logo" src="img/logos/logo_filmz/filmz_no-bg_2.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>

<!--                     {% for network in site.social %}
                    <li><a href="{{ network.url }}" target=”_blank”><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %} -->
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="row right-sliding-social">
        <div class="social-bar">
            <a href="https://www.facebook.com/suhan.lucian" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <div class="social-bar">
            <a href="https://www.instagram.com/filmzstudio/" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
        <div class="social-bar">
            <a href="https://www.youtube.com/user/skateluci1" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        </div>
    </div>

    <!-- Headerr -->
    <header>
        <div class="container">
            <div class="videoWrapper">
                <!-- Copy & Pasted from YouTube -->
                <!-- <iframe class="videoContainer__video" width="1920" height="1080" src="https://www.youtube.com/embed/REJS2_nXtqo?autoplay=1&mute=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <!-- <iframe class="videoContainer__video" width="1920" height="1080" src="https://www.youtube.com/embed/REJS2_nXtqo?autoplay=1&mute=1&showinfo=0&controls=0&loop=1&list=PL4ZHc1f3Rxy3Znr22slP8KEUnWuDSRrb6&amp" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <iframe class="responsive-iframe videoContainer__video" src="https://www.youtube.com/embed/REJS2_nXtqo?autoplay=1&mute=1&showinfo=0&controls=0&loop=1&list=PL4ZHc1f3Rxy3Znr22slP8KEUnWuDSRrb6&amp" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

<!-- Load Facebook SDK for JavaScript -->
      <div id="fb-root"></div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v9.0'
          });
        };

        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <!-- Your Chat Plugin code -->
      <div class="fb-customerchat"
        attribution="setup_tool"
        page_id="152007005523439"
  logged_in_greeting="Salut! Putem discuta și aici."
  logged_out_greeting="Salut! Putem discuta și aici.">
      </div>

