<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading absolute-transform">Portfolio</h2>                   
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover"> 
                            <div class="portfolio-hover-content">
                                <i class="fa fa-play fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ post.title }}</h4>
                        <p class="text-muted">{{ post.subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        
        <div class="section-parallax-2"></div>

        <div class="container">
            <!-- Header -->
            <div class="header-photo absolute-transform-2">
                <h1>Photos</h1>
            </div>
            
            <!-- Photo Grid -->
            <div class="photo-grid"> 
                <div class="column">
                    <img src="img/photo-grid/DSC07357.jpg" style="width:100%">
                    <img src="img/photo-grid/DJI_0278.png" style="width:100%">
                    <img src="img/photo-grid/DSC05805.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC07721.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="img/photo-grid/DSC07640.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC07371.jpg" style="width:100%">
                    <img src="img/photo-grid/Foto instant05.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC071234.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="img/photo-grid/DSC07369.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC07402.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC07269.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC07701.jpg" style="width:100%">
                </div>
                <div class="column">
                    <img src="img/photo-grid/DJI_0371.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC06184.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC05703.jpg" style="width:100%">
                    <img src="img/photo-grid/DSC07349.jpg" style="width:100%">
                </div>
            </div>
        </div>
    </section>
