<!-- Services Section -->
    <section id="services"> 
        <div class="container display-none-mobile" style="width: 100%; text-align: center;">
           
            <div class="row">
                <div class="col-md-12">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Video Production</h4>
                    <p class="text-muted services-text">We make video productions that help companies sell their products and services. We take your ideas and concepts,mix them with talent and vision and translate them into what your viewers expect in the video. Our workflow begins with understanding the client's needs and visions.</p>
                </div>
            </div>
            
            <div class="row middle-row">            
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/icons/drone_icon.png" alt="">
                    </span>
                    <h4 class="service-heading">Drone Video/Photo</h4>
                    <p class="text-muted services-text">We have drone flight certificates and we can offer your company a different perspective through images. The beautiful footage from the drone integrate perfectly in the videos of your company.</p>
                </div>
                <div class="col-lg-4 text-center">
                    <h2 class="section-heading">Services</h2>                    
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive img-resize" src="img/icons/microphone.png" alt="">
                    </span>
                    <h4 class="service-heading">Voice Over</h4>
                    <p class="text-muted services-text">
                        We provide audio recording services - Voiceover with an emphasis on quality and compliance with delivery deadlines.<br>
                        We work with you on a script that we turn into an audio file.<br>
                        A voiceover helps the video better convey a message to viewers. 
                    </p>
                </div>
            </div>
            
             <div class="row">
                   <div class="col-md-12">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Screenplay Guidance</h4>
                    <p class="text-muted services-text">We come up with creative ideas to highlight your product or service.The script of a clip is part of the post production and we will work together for a better result.</p>
                </div>
            </div>
            
        </div>
        
        <div class="container display-none-desktop" style="width: 100%; text-align: center;">
           
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-heading">Services</h2>                    
                </div>            
            </div>
            
            <div class="row">            
                <div class="col-xs-6">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive" src="img/icons/drone_icon.png" alt="">
                    </span>
                    <h4 class="service-heading">Drone Video/Photo</h4>
                    <p class="text-muted services-text">We have drone flight certificates and we can offer your company a different perspective through images. The beautiful footage from the drone integrate perfectly in the videos of your company.</p>
                </div>
                <div class="col-xs-6">
                    <span class="fa-stack fa-4x">
                        <img class="img-circle img-responsive img-resize" src="img/icons/microphone.png" alt="">
                    </span>
                    <h4 class="service-heading">Voice Over</h4>
                    <p class="text-muted services-text">
                        We provide audio recording services - Voiceover with an emphasis on quality and compliance with delivery deadlines.<br>
                        We work with you on a script that we turn into an audio file.<br>
                        A voiceover helps the video better convey a message to viewers. 
                    </p>
                </div>
                <div class="col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Video Production</h4>
                    <p class="text-muted services-text">We make video productions that help companies sell their products and services. We take your ideas and concepts, mix them with talent and vision and translate them into what your viewers expect in the video. Our workflow begins with understanding the client's needs and visions.</p>
                </div>
                <div class="col-xs-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Screenplay Guidance</h4>
                    <p class="text-muted services-text">We come up with creative ideas to highlight your product or service.The script of a clip is part of the post production and we will work together for a better result.</p>
                </div>
            </div>
                
        </div>
        
    </section>

    <div class="section-parallax"></div>
